@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #1c1f38;
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}
.brand {
  margin-top: -7px;
}
.brand span {
  color: aqua;
}
.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}
.menu  li {
  list-style: none;

}
.menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px; 
}

.menu li:hover a{
  background-color: white;
}

.menu .active {
  color: aqua;
 
}


.menu li a:hover {
  color: #66E7C8;
  color: #0a0a0a;
}


.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  align-items: center;
  gap: 2em;
}

h1 {
  font-size: 3em;
}

h2{
  font-size: 2em;
}

.info-content span {
  color: aqua;
}

.github {
  padding: 15px 25px;
  background-color: aqua;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
  box-shadow: 1px 3px 11px -5px rgba(102,231,200,0.69);
}

.github:hover {
  background-color: azure;
  box-shadow: none;
}

.main img {
  border:  5px solid aqua;
  width: 310px;
  height: 480px;
  z-index: 1;
}

.divider {
  height: 4px;
  width: 60px;
  background-color: aqua;
  margin-top: 5px;
  margin-bottom: 2em;
}

.portfolio {
  width: 100vw;
  height: 550px;
  background-color: #1c1f38;
  color: #fff;
}

.portfolio-heading {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5em;
}


.portfolio-heading h2,
.contact-heading h2 {
  font-size: 2.5em;
  color: #fff;
}

.portfolio .container {
  width: 80vw;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}


.card {
  border:  3px solid aqua;
  z-index: 1;
  width: 300px;
  background-color: #2b3058;
  margin: 1em;
}

.card h2{
  text-align: center;
}


.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}


.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}

.card {
  width: 500px;
  height: 270px;
  background-color: #0f0822;
  margin: 1em;
}

.card__img {
  width: 100%;
  height: 150px;
  background-size: cover;
}

.card__title {
  padding: 20px;
}

.card__proyect-links {
  display: flex;
  justify-content: space-evenly;
}
.card__proyect-links a {
  color: #fff;
  text-decoration: none;
}

.card__proyect-links i {
  font-size: 1.5em;
}

.button-content {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.project-details-button a {
  text-decoration: none;
  color: #191c32;
}

.contact-section {
  padding: 3em;
}

.container-contact {
  margin: 0 auto;
  margin-top: 10em;
}


.contact-section img {
  width: 750px;
  height: 700px;
  bottom: 0px;
}


.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80px;
  padding: 2em;
  background-color: aqua;
}

.footer-content h3 {
  font-size: 1.5em;
  color: rgb(14, 15, 36);
}

.sotial-networks {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin-top: 1em;
}

.sotial-networks i {
  font-size: 1.5em;
}

.contacto{
  display: flex;
  color: black;
}
